NEXT_PUBLIC_DEMO_MODE=true
# Set false and provide all applicable credentials for an integrated environment.
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
GAME_SERVER_SEED=
GAME_CLIENT_SEED=
PAYHERO_API_USERNAME=
PAYHERO_API_PASSWORD=
PAYHERO_CHANNEL_ID=
MPESA_CONSUMER_KEY=
MPESA_CONSUMER_SECRET=
MPESA_STORE_NUMBER=
MPESA_TILL_NUMBER=
MPESA_PASSKEY=